html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
}

#root {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chatForm {
    padding: 8px
}